<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Live Submissions from Codeforces</title>
    <link rel="stylesheet" href="cflive2.css"/>
    <link href="http://i.imgur.com/UaJV0iL.png" rel="shortcut icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script>
    function toggle() {
        var x = document.getElementById('info');
        if (x.style.display === 'none') x.style.display = 'block';
        else x.style.display = 'none';
    }

    var app = angular.module('myApp', []);

    function SubsCtrl($scope, $http, $interval) {

    $scope.submissions = [];
    var temp = [];
    var first_run = true;
    var how_many = 20;

    $scope.ratings = {};

    $scope.verdict_map = {
    undefined: 'QU',
    'FAILED': 'FA',
    'OK': 'AC',
    'PARTIAL': 'PA',
    'COMPILATION_ERROR': 'CE',
    'RUNTIME_ERROR': 'RTE',
    'WRONG_ANSWER': 'WA',
    'PRESENTATION_ERROR': 'PE',
    'TIME_LIMIT_EXCEEDED': 'TLE',
    'MEMORY_LIMIT_EXCEEDED': 'MLE',
    'IDLENESS_LIMIT_EXCEEDED': 'ILE',
    'SECURITY_VIOLATED': 'SV',
    'CRASHED': 'CR',
    'INPUT_PREPARATION_CRASHED': 'IPC',
    'CHALLENGED': 'CH',
    'SKIPPED': 'SK',
    'TESTING': 'TE',
    'REJECTED': 'RJ'
    };

    $scope.setLimit = function(num) {
        how_many = num;
    }

    $scope.loadSubs = function() {
        $http.get('https://cors-anywhere.herokuapp.com/http://codeforces.com/api/problemset.recentStatus?count=' + how_many).success(function(data, status) {
            if (first_run) {temp = data; first_run = false;}
            else {
                if (angular.toJson($scope.submissions) !== angular.toJson(temp)) {
                    $scope.submissions = data;
                    console.log('updating');
                }
                temp = data;
            }
        });
    };

    $scope.getRating = function(uname) {
        $http.get('https://cors-anywhere.herokuapp.com/http://codeforces.com/api/user.info?handles=' + uname).success(function(data, status) {
            $scope.ratings[uname] = data[0].rating;
        });
    }

    $interval($scope.loadSubs, 1000);

    }
    </script>
    <title></title>
</head>
<body bgcolor="#002b36">
    <div ng-controller="SubsCtrl">

        <table style="border-collapse:collapse;" cellpadding="1" width="100%">
            <thead>
                <tr>
                <span style="float: left; font-weight: bold; font-size: 12px"><p>Live Submissions from Codeforces</p></span>
                <span style="float: right; font-size: 12px"><p>Show:
                <a href="#" class="underln" ng-click="setLimit(5)"> 5</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(10)"> 10</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(15)"> 15</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(20)"> 20</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(30)"> 30</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(50)"> 50</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(100)"> 100</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(200)"> 200</a> |
                <a href="#" class="underln" onclick="toggle()"> Toggle info</a>
                </p></span>
                </tr>
                <tr style="font-weight: bold">
                    <th width="70" align="left">&nbsp;Sub&nbsp;ID</th>
                    <th width="70"></th>
                    <th width="300" align="left">Problem</th>
                    <th width="350" align="left">User</th>
                    <th width="70">Verdict</th>
                    <th width="120">Lang</th>
                    <th width="80">Time</th>
                    <th width="80">Mem</th>
                    <th width="110">SubTime</th>
                </tr>
            </thead>
            <tbody>
                <tr style="border-top: 5px solid; border-bottom: 5px solid; border-color: #002b36; vertical-align:middle;" ng-repeat="i in submissions['result']" ng-class="verdict_map[i.verdict]">
                <!-- <tr style="border-top: 5px solid; border-bottom: 5px solid; border-color: #002b36; vertical-align:middle;" ng-repeat="i in submissions['result']" ng-class="verdict_map[i.verdict]" ng-if="users.indexOf(i.author.members[0].handle) != -1"> -->
                    <td style="font-stretch: condensed">
                        <a ng-if="i.problem.contestId < 100000" style="text-decoration: none" href="http://codeforces.com/contest/{{i.problem.contestId}}/submission/{{i.id}}" target="_blank">&nbsp;{{i.id}}</a>
                        <a ng-if="i.problem.contestId >= 100000">&nbsp;{{i.id}}</a>
                    </td>
                    <td align="right">
                        <a ng-if="i.problem.contestId < 100000" style="text-decoration: none" href="http://codeforces.com/problemset/problem/{{i.problem.contestId}}/{{i.problem.index}}" target="_blank">{{i.problem.contestId}}{{i.problem.index}}&nbsp;</a>
                        <a ng-if="i.problem.contestId >= 100000" style="text-decoration: none" href="http://codeforces.com/problemset/gymProblem/{{i.problem.contestId}}/{{i.problem.index}}" target="_blank">{{i.problem.contestId}}{{i.problem.index}}&nbsp;</a>
                    </td>
                    <td style="font-stretch: condensed">{{i.problem.name}}</td>
                    <td ng-if="i.author.teamName == undefined">{{i.author.members[0].handle}}</td>
                    <td ng-if="i.author.teamName != undefined">
                    <span style="border: 1px solid #fdf6e3; font-size:15px; display: inline-block; padding: 2px; vertical-align:top;">{{i.author.teamName}}</span>
                    <span style="font-stretch: condensed">{{i.author.members[0].handle}}</span><span ng-if="i.author.members.length >= 2" style="font-stretch: condensed">, {{i.author.members[1].handle}}</span><span ng-if="i.author.members.length >= 3" style="font-stretch: condensed">, {{i.author.members[2].handle}}</span>

                    </td>
                    <td class="ng-class: {testing: verdict_map[i.verdict] == 'TE'}" align="center" ng-if="verdict_map[i.verdict] == 'QU' || verdict_map[i.verdict] == 'TE'"></td>
                    <td align="center" ng-if="verdict_map[i.verdict] != 'QU' && verdict_map[i.verdict] != 'TE'">{{verdict_map[i.verdict]}}&nbsp;<span ng-if="verdict_map[i.verdict] != 'CE'" style="border: 1px solid #fdf6e3; font-size:15px; display: inline-block; padding: 2px; vertical-align:top; width: 27px">{{i.passedTestCount}}</span></td>
                    <td style="font-stretch:condensed" align="center">{{i.programmingLanguage}}</td>
                    <td style="font-stretch:condensed" align="center">{{i.timeConsumedMillis/1000 | number:3}} ms</td>
                    <td style="font-stretch:condensed" align="center">{{i.memoryConsumedBytes/1000 | number:0}} kB</td>
                    <td style="font-stretch:condensed" align="center">{{i.creationTimeSeconds*1000 | date: "HH:mm:ss"}}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div id="info">
        <p style="color:#fdf6e3; font-size:12pt">Created by <a class="underln" href="http://codeforces.com/profile/alltootechnical">Brian Guadalupe</a> in his free time. Thanks to Codeforces for their <a class="underln" href="http://codeforces.com/api/help">API</a>. The boxed numbers denote the number of passed test cases. </p>

        <table style="color: #fdf6e3; table-layout: fixed;" id="legend">
        <tr>
            <td class="short QU"></td><td class="desc">In queue</td>
            <td class="short testing"></td><td class="desc">Testing</td>
            <td class="short CE">CE</td><td class="desc">Compile error</td>
            <td class="short TLE">TLE</td><td class="desc">Time limit exceeded</td>
            <td class="short IPC">IPC</td><td class="desc">Input prep crashed</td>
            <td class="short CH">CH</td><td class="desc">Challenged</td>
        </tr>
        <tr>
            <td class="short AC">AC</td><td class="desc">Accepted</td>
            <td class="short PA">PA</td><td class="desc">Partial</td>
            <td class="short PE">PE</td><td class="desc">Presentation error</td>
            <td class="short MLE">MLE</td><td class="desc">Memory limit exceeded</td>
            <td class="short CR">CR</td><td class="desc">Crashed</td>
            <td class="short SK">SK</td><td class="desc">Skipped</td>
        </tr>
        <tr>
            <td class="short WA">WA</td><td class="desc">Wrong answer</td>
            <td class="short FA">FA</td><td class="desc">Failed</td>
            <td class="short RTE">RTE</td><td class="desc">Runtime error</td>
            <td class="short ILE">ILE</td><td class="desc">Idleness limit exceeded</td>
            <td class="short SV">SV</td><td class="desc">Security violated</td>
            <td class="short RJ">RJ</td><td class="desc">Rejected</td>
        </tr>
      </table>
    </div>
</body>
</html>
