<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Live Submissions from Codeforces</title>
    <link rel="stylesheet" href="cflive2.css"/>
    <!-- <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Fira+Sans+Extra+Condensed|Fira+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Open+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="http://i.imgur.com/UaJV0iL.png" rel="shortcut icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script>
    function toggle() {
        var x = document.getElementById('info');
        if (x.style.display === 'none') x.style.display = 'block';
        else x.style.display = 'none';
    }

    var app = angular.module('myApp', []);

    app.filter('formatByte', function () {
      'use strict';

      return function (size) {
        var exp = Math.log(size) / Math.log(1024) | 0;
        return (size / Math.pow(1024, exp)).toFixed(2) + '\xa0' +
          ((exp > 0) ? 'kMGTPEZY'[exp - 1] + 'B' : 'B');
      };
    });

    function SubsCtrl($scope, $http, $interval) {

        $scope.submissions = [];
        var temp = [];
        var first_run = true;
        var how_many = 400;

        $scope.ratings = {};
        $scope.hiddenVerdicts = false;
        $scope.currSubid = 0;

        $scope.toggleVerdicts = function () {
            $scope.hiddenVerdicts = !$scope.hiddenVerdicts;
            $scope.currSubid = $scope.submissions.result[0].id;
            alert("Verdicts will now be " + ($scope.hiddenVerdicts ? "hidden" : "shown"));
        };

        $scope.filtered = false;
        $scope.users = [];
        var kw = "";
        $scope.filterUsers = function () {
            var kw2 = prompt('Enter the list of usernames separated with a comma. Leave blank or click "Cancel" to remove filtering.', kw);
            if (kw2 == null || kw2 == "") $scope.filtered = false;
            else {
                kw = kw2;
                $scope.filtered = true;
                $scope.users = kw.split(",");
            }
        }

        $scope.verdict_map = {
        undefined: 'QU',
        'FAILED': 'FA',
        'OK': 'AC',
        'PARTIAL': 'PA',
        'COMPILATION_ERROR': 'CE',
        'RUNTIME_ERROR': 'RTE',
        'WRONG_ANSWER': 'WA',
        'PRESENTATION_ERROR': 'PE',
        'TIME_LIMIT_EXCEEDED': 'TLE',
        'MEMORY_LIMIT_EXCEEDED': 'MLE',
        'IDLENESS_LIMIT_EXCEEDED': 'ILE',
        'SECURITY_VIOLATED': 'SV',
        'CRASHED': 'CR',
        'INPUT_PREPARATION_CRASHED': 'IPC',
        'CHALLENGED': 'CH',
        'SKIPPED': 'SK',
        'TESTING': 'TE',
        'REJECTED': 'RJ',
        'HIDDEN': 'X'
        };

        $scope.tableLimit = 20;
        $scope.setLimit = function(num) {
            $scope.tableLimit = num;
        }

        $scope.getIndexFromId = function (arr, id) {
            for (var i = 0; i < arr.length; i++) {
                if (id == arr[i].id) {
                    return i;
                }
            }
            return -1;
        }

        $scope.loadSubs = function() {
            var c = ['https://cors-anywhere.herokuapp.com/', 'https://crossorigin.me/'];
            var cors = c[Math.floor(Math.random()*c.length)];
            $http.get(cors + 'http://codeforces.com/api/problemset.recentStatus?count=' + how_many).success(function(data, status) {
                var lastsub = -1;
                if (first_run) {temp = data; first_run = false; $scope.submissions = data; lastsub = $scope.submissions.result[0].id;}
                else {
                    lastsub = $scope.submissions.result[0].id;
                    //$scope.currSubid = lastsub;
                    console.log(lastsub);
                    if (data.result[0].id > lastsub) {
                        var ap = []
                        for (var i = 0; data.result[i].id > lastsub; i++) {
                            if ($scope.getIndexFromId($scope.submissions.result, $scope.submissions.result[i].id) != -1) {
                                console.log('pushed sub id ' + data.result[i].id + " " + data.result[i].verdict);
                                if ((data.result[i].verdict !== "TESTING" && data.result[i].verdict != undefined)) {
                                    if ($scope.hiddenVerdicts) {
                                        data.result[i].verdict = "HIDDEN";
                                        data.result[i].timeConsumedMillis = 0;
                                        data.result[i].memoryConsumedBytes = 0;
                                    }
                                }
                                ap.unshift(data.result[i]);
                            }
                        }
                        for (var i = 0; i < ap.length; i++) $scope.submissions.result.unshift(ap[i]);
                        lastsub = $scope.submissions.result[0].id;
                    }
                    for (var i = 0; i < data.result.length; i++) {
                        for (var j = 0; j < $scope.submissions.result.length; j++) {
                            if (data.result[i].id == $scope.submissions.result[j].id && data.result[i].verdict !== $scope.submissions.result[j].verdict) {
                                var row = data.result[i];
                                console.log("cmp: " + data.result[i].id + " >" + $scope.currSubid);
                                // hide only those submissions coming after the click
                                if ((data.result[i].verdict !== "TESTING" && data.result[i].verdict != undefined) && data.result[i].id > $scope.currSubid) {
                                    if ($scope.hiddenVerdicts) {
                                        data.result[i].verdict = "HIDDEN";
                                        data.result[i].timeConsumedMillis = 0;
                                        data.result[i].memoryConsumedBytes = 0;
                                    }
                                }
                                console.log($scope.submissions.result[j].id + " " + $scope.submissions.result[j].verdict + " --> " + data.result[i].id + " " + data.result[i].verdict)
                                $scope.submissions.result.splice($scope.getIndexFromId($scope.submissions.result, $scope.submissions.result[j].id), 1, row);
                            }
                        }
                    }
                    console.log('updating');
                }

            });
        };

        $scope.getRating = function(uname) {
            $http.get('http://codeforces.com/api/user.info?handles=' + uname).success(function(data, status) {
                $scope.ratings[uname] = data[0].rating;
            });
        }

        $scope.now = new Date().getTime()/1000|0;

        $interval($scope.loadSubs, 1000);

    }
    </script>
    <title></title>
</head>
<body bgcolor="#002b36">
    <div ng-controller="SubsCtrl">

        <table style="border-collapse:collapse;" cellpadding="1" width="100%">
            <thead>
                <tr>
                <span style="float: left; font-weight: bold; font-size: 12px"><p>Live Submissions from Codeforces
                    <span class="boxes" style="color:#fdf6e3; font-weight:normal; border: 1px solid #fdf6e3" ng-if="hiddenVerdicts">Verdicts hidden</span>
                </p></span>

                <span style="float: right; font-size: 12px"><p>Show:
                <a href="#" class="underln" ng-click="setLimit(5)"> 5</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(10)"> 10</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(15)"> 15</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(20)"> 20</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(30)"> 30</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(50)"> 50</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(100)"> 100</a> &middot;
                <a href="#" class="underln" ng-click="setLimit(200)"> 200</a> | Toggle:
                <a href="#" class="underln" onclick="toggle()"> Info</a> &middot;
                <a href="#" class="underln" ng-click="toggleVerdicts()"> Verdicts</a> |
                <a href="#" class="underln" ng-click="filterUsers()"> Filter</a>
                </p></span>
                </tr>
                <tr style="font-weight: bold">
                    <!-- 40 40 300 350 100 120 90 90 90px -->
                    <th style="width: 40px" align="left">&nbsp;Sub&nbsp;ID</th>
                    <th style="width: 40px"></th>
                    <th style="width: 300px" align="left">Problem</th>
                    <th style="width: 350px" align="left">User</th>
                    <th style="width: 100px">Verdict</th>
                    <th style="width: 120px">Lang</th>
                    <th style="width: 90px">Time</th>
                    <th style="width: 90px">Mem</th>
                    <th style="width: 90px">SubTime</th>
                </tr>
            </thead>
            <tbody>
                <tr style="border-top: 5px solid; border-bottom: 5px solid; border-color: #002b36; vertical-align:middle;" ng-repeat="i in submissions['result'] | limitTo: tableLimit" ng-class="verdict_map[i.verdict]" ng-if="filtered ? users.indexOf(i.author.members[0].handle) != -1 : true">
                <!-- <tr style="border-top: 5px solid; border-bottom: 5px solid; border-color: #002b36; vertical-align:middle;" ng-repeat="i in submissions['result']" ng-class="verdict_map[i.verdict]" ng-if="users.indexOf(i.author.members[0].handle) != -1"> -->
                    <td class="cond">
                        <a class="cond nounderln" ng-if="i.problem.contestId < 100000" href="http://codeforces.com/contest/{{i.problem.contestId}}/submission/{{i.id}}" target="_blank">&nbsp;{{i.id}}</a>
                        <a class="cond" ng-if="i.problem.contestId >= 100000">&nbsp;{{i.id}}</a>
                    </td>
                    <td align="right">
                        <a ng-if="i.problem.contestId < 100000" class="nounderln" href="http://codeforces.com/problemset/problem/{{i.problem.contestId}}/{{i.problem.index}}" target="_blank">{{i.problem.contestId}}{{i.problem.index}}&nbsp;</a>
                        <a ng-if="i.problem.contestId >= 100000" class="nounderln" href="http://codeforces.com/problemset/gymProblem/{{i.problem.contestId}}/{{i.problem.index}}" target="_blank">{{i.problem.contestId}}{{i.problem.index}}&nbsp;</a>
                    </td>
                    <td class="cond" style="max-width: 290px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{i.problem.name}}</td>
                    <td ng-if="i.author.teamName == undefined"><a class="nounderln" href="http://codeforces.com/profile/{{i.author.members[0].handle}}" target="_blank">{{i.author.members[0].handle}}</a>
                    <!-- <span class="sup">{{i.author.participantType}} </span> -->
                    <span class="sup" ng-if="i.author.participantType=='VIRTUAL'">{{(i.relativeTimeSeconds+57600)*1000 | date: "HH:mm"}}</span>
                    <span class="sup" ng-if="i.author.participantType=='CONTESTANT'">{{(i.relativeTimeSeconds+57600)*1000 | date: "HH:mm"}}</span>
                    </td>
                    <td ng-if="i.author.teamName != undefined">
                    <span style="border: 1px solid #fdf6e3; font-size:15px; display: inline-block; padding: 2px; vertical-align:top;">{{i.author.teamName}}</span>
                    <span class="cond">{{i.author.members[0].handle}}</span><span ng-if="i.author.members.length >= 2" class="cond">, {{i.author.members[1].handle}}</span><span ng-if="i.author.members.length >= 3" class="cond">, {{i.author.members[2].handle}}</span>
                    <!-- <span class="sup">{{i.author.participantType}} </span> -->
                    <span class="sup" ng-if="i.author.participantType=='VIRTUAL'">{{(i.relativeTimeSeconds+57600)*1000 | date: "HH:mm"}}</span>
                    </td>
                    <td class="ng-class: {testing: verdict_map[i.verdict] == 'TE'}" align="center" ng-if="verdict_map[i.verdict] == 'QU' || verdict_map[i.verdict] == 'TE'"></td>
                    <td align="center" ng-if="verdict_map[i.verdict] == 'X'">?</td>
                    <td align="center" ng-if="verdict_map[i.verdict] != 'QU' && verdict_map[i.verdict] != 'TE' && verdict_map[i.verdict] != 'X'">{{verdict_map[i.verdict]}}&nbsp;<span ng-if="verdict_map[i.verdict] != 'CE' && verdict_map[i.verdict] != 'X'" style="border: 1px solid #fdf6e3; font-size:15px; display: inline-block; padding: 2px; vertical-align:top; width: 27px">{{i.passedTestCount}}</span></td>
                    <td class="cond" align="center">{{i.programmingLanguage}}</td>
                    <td class="cond" align="center">{{i.timeConsumedMillis/1000 | number:3}}&nbsp;s</td>
                    <td class="cond" align="center">{{i.memoryConsumedBytes | formatByte}}</td>
                    <td class="cond" align="center">{{i.creationTimeSeconds*1000 | date: "HH:mm:ss"}}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div id="info">
        <p style="color:#fdf6e3; font-size:12pt">Created by <a class="underln" href="http://codeforces.com/profile/alltootechnical">Brian Guadalupe</a> in his free time. Thanks to Codeforces for their <a class="underln" href="http://codeforces.com/api/help">API</a>. The boxed numbers denote the number of passed test cases. </p>

        <table style="color: #fdf6e3; table-layout: fixed; font-size:12pt" id="legend">
        <tr>
            <td class="short QU"></td><td class="desc cond">In queue</td>
            <td class="short testing"></td><td class="desc cond">Testing</td>
            <td class="short CE">CE</td><td class="desc cond">Compile error</td>
            <td class="short TLE">TLE</td><td class="desc cond">Time limit exceeded</td>
            <td class="short IPC">IPC</td><td class="desc cond">Input prep crashed</td>
            <td class="short CH">CH</td><td class="desc cond">Challenged</td>
        </tr>
        <tr>
            <td class="short AC">AC</td><td class="desc cond">Accepted</td>
            <td class="short PA">PA</td><td class="desc cond">Partial</td>
            <td class="short PE">PE</td><td class="desc cond">Presentation error</td>
            <td class="short MLE">MLE</td><td class="desc cond">Memory limit exceeded</td>
            <td class="short CR">CR</td><td class="desc cond">Crashed</td>
            <td class="short SK">SK</td><td class="desc cond">Skipped</td>
        </tr>
        <tr>
            <td class="short WA">WA</td><td class="desc cond">Wrong answer</td>
            <td class="short FA">FA</td><td class="desc cond">Failed</td>
            <td class="short RTE">RTE</td><td class="desc cond">Runtime error</td>
            <td class="short ILE">ILE</td><td class="desc cond">Idleness limit exceeded</td>
            <td class="short SV">SV</td><td class="desc cond">Security violated</td>
            <td class="short RJ">RJ</td><td class="desc cond">Rejected</td>
        </tr>
      </table>
    </div>
</body>
</html>
